:root {
  --side-nav-panel-width: 250px;
  --status-indicator-offset: 20px;
  --side-nav-panel-margin: 20px;
}

@font-face {
  font-family: 'FKRasterGrotesk';
  src: url('../fonts/FKRasterGrotesk-Sharp.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FKRasterGrotesk', monospace;
  background: #FAF6EF;
  color: #0D0D0E;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

pre#ascii-header {
  font-size: 5px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
  white-space: pre;
  position: relative;
  left: 0;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

pre#ascii {
  margin: 0;
  white-space: pre;
  font-size: 8px;
  text-align: center;
  position: relative;
  left: 0;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.status-indicator {
  position: fixed;
  top: 20px;
  left: var(--status-indicator-offset);
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #0D0D0E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FAF6EF;
  font-size: 14px;
  font-family: 'FKRasterGrotesk', monospace;
  margin-right: 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.spinner-prompt-text {
  color: #0D0D0E;
  font-family: 'FKRasterGrotesk', monospace;
  font-size: 12px;
  transition: color 0.3s ease-in-out;
}

body.dark-theme {
  background: #0D0D0E;
  color: #FAF6EF;
}

body.dark-theme .spinner {
  background-color: #FAF6EF;
  color: #0D0D0E;
}

body.dark-theme .spinner-prompt-text {
  color: #FAF6EF;
}

#theme-icon-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 1001;
  cursor: pointer;
}

#right-theme-prompt {
  position: fixed;
  top: 32px;
  right: 75px;
  font-family: 'FKRasterGrotesk', monospace;
  font-size: 12px;
  color: #0D0D0E;
  transition: color 0.3s ease-in-out;
  z-index: 1001;
}

body.dark-theme #right-theme-prompt {
  color: #FAF6EF;
}

#theme-icon-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.45s ease-in-out;
}

#light-theme-icon {
  opacity: 1;
}

#dark-theme-icon {
  opacity: 0;
}

body.dark-theme #light-theme-icon {
  opacity: 0;
}

body.dark-theme #dark-theme-icon {
  opacity: 1;
}

/* Side Navigation Panel Styles */
#side-nav-panel {
  position: fixed;
  top: var(--side-nav-panel-margin);
  left: calc(-1 * var(--side-nav-panel-width));
  width: var(--side-nav-panel-width);
  height: calc(100vh - (2 * var(--side-nav-panel-margin)));
  background-color: #F1EDE7;
  padding: 30px;
  box-sizing: border-box;
  z-index: 1002;
  transition: left 0.20s cubic-bezier(0.4, 0.0, 0.2, 1), background-color 0.3s ease-in-out;
  border-radius: 5px;
}

/* When side nav is open */
body.side-nav-is-open #side-nav-panel {
  left: var(--side-nav-panel-margin);
}

body.side-nav-is-open .status-indicator {
  left: calc(var(--side-nav-panel-margin) + var(--side-nav-panel-width) + var(--status-indicator-offset));
}

body.side-nav-is-open pre#ascii-header,
body.side-nav-is-open pre#ascii {
  left: calc( (0.5 * (var(--side-nav-panel-margin) + var(--side-nav-panel-width))) + var(--status-indicator-offset) );
}

/* Dark theme adjustments */
body.dark-theme #side-nav-panel {
  background-color: #141414;
}
