<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ASCII Image Processing</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <span id="right-theme-prompt"></span>
    <div id="theme-icon-container">
        <img id="light-theme-icon" src="{{ url_for('static', filename='images/light-mode.png') }}" alt="Light theme icon">
        <img id="dark-theme-icon" src="{{ url_for('static', filename='images/dark-mode.png') }}" alt="Dark theme icon">
    </div>
    <pre id="ascii-header">
       ##             #######          # ###           #####  #   #####  #            #####  #                                                   ##### ##                                                                                            
     /####           /       ###      /  /###  /     ######  /  ######  /           ######  /                                                  ######  /###                                                                #                          
    /  ###          /         ##     /  /  ###/     /#   /  /  /#   /  /           /#   /  /                                                  /#   /  /  ###                                                              ###                         
       /##          ##        #     /  ##   ##     /    /  /  /    /  /           /    /  /                                                  /    /  /    ###                                                              #                          
      /  ##          ###           /  ###              /  /       /  /                /  /                                                       /  /      ##                                                                                         
      /  ##         ## ###        ##   ##             ## ##      ## ##               ## ## ### /### /###     /###     /###      /##             ## ##      ## ###  /###     /###     /###      /##       /###     /###   ###   ###  /###     /###     
     /    ##         ### ###      ##   ##             ## ##      ## ##               ## ##  ##/ ###/ /##  / / ###  / /  ###  / / ###            ## ##      ##  ###/ #### / / ###  / / ###  /  / ###     / #### / / #### / ###   ###/ #### / /  ###  / 
     /    ##           ### ###    ##   ##           /### ##    /### ##             /### ##   ##  ###/ ###/ /   ###/ /    ###/ /   ###         /### ##      /    ##   ###/ /   ###/ /   ###/  /   ###   ##  ###/ ##  ###/   ##    ##   ###/ /    ###/  
    /      ##            ### /##  ##   ##          / ### ##   / ### ##            / ### ##   ##   ##   ## ##    ## ##     ## ##    ###       / ### ##     /     ##       ##    ## ##        ##    ### ####     ####        ##    ##    ## ##     ##   
    /########              #/ /## ##   ##             ## ##      ## ##               ## ##   ##   ##   ## ##    ## ##     ## ########           ## ######/      ##       ##    ## ##        ########    ###      ###       ##    ##    ## ##     ##   
   /        ##              #/ ##  ##  ##        ##   ## ## ##   ## ##          ##   ## ##   ##   ##   ## ##    ## ##     ## #######            ## ######       ##       ##    ## ##        #######       ###      ###     ##    ##    ## ##     ##   
   #        ##               # /    ## #      / ###   #  / ###   #  /          ###   #  /    ##   ##   ## ##    ## ##     ## ##                 ## ##           ##       ##    ## ##        ##              ###      ###   ##    ##    ## ##     ##   
  /####      ##    /##        /      ###     /   ###    /   ###    /            ###    /     ##   ##   ## ##    /# ##     ## ####    /          ## ##           ##       ##    ## ###     / ####    /  /###  ## /###  ##   ##    ##    ## ##     ##   
 /   ####    ## / /  ########/        ######/     #####/     #####/              #####/      ###  ###  ### ####/ ## ########  ######/           ## ##           ###       ######   ######/   ######/  / #### / / #### /    ### / ###   ### ########   
/     ##      #/ /     #####            ###         ###        ###                 ###        ###  ###  ### ###   ##  ### ###  #####       ##   ## ##            ###       ####     #####     #####      ###/     ###/      ##/   ###   ###  ### ###  
#                |                                                                                                         ###            ###   #  /                                                                                              ### 
 ##               \)                                                                                                 ####   ###            ###    /                                                                                         ####   ###
                                                                                                                   /######  /#              #####/                                                                                        /######  /# 
                                                                                                                  /     ###/                  ###                                                                                        /     ###/   
    </pre>
    <pre id="ascii">{{ ascii_home }}</pre>
    
<div class="left-nav">
  <div class="spinner">
    <span id="spinner-char">—</span>
  </div>
  <span class="spinner-prompt-text">Press / for ?</span>
</div>

    <script src="{{ url_for('static', filename='js/spinner.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}"></script>
  </body>
</html>
