<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ASCII Image Processing</title>
        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}"
        />
    </head>
    <body>
        <div id="side-nav-panel">
            <p class="nav-panel-title">ASCII Command Terminal</p>
            <div class="command-input-area">
                <span class="command-prompt">:/</span>
                <div class="input-wrapper">
                    <input
                        type="text"
                        id="command-input"
                        placeholder="Type ?help to begin."
                    />
                    <span
                        id="autocomplete-suggestion"
                        class="autocomplete-suggestion"
                    ></span>
                </div>
            </div>
            <div id="command-output-container">
                <!-- Command outputs will appear here -->
            </div>
        </div>
        <span id="right-theme-prompt">Press T for dark</span>
        <div id="theme-icon-container">
            <img
                id="light-theme-icon"
                src="{{ url_for('static', filename='images/light-mode.png') }}"
                alt="Light theme icon"
            />
            <img
                id="dark-theme-icon"
                src="{{ url_for('static', filename='images/dark-mode.png') }}"
                alt="Dark theme icon"
            />
        </div>
        <pre id="ascii-header">
       ##             #######          # ###           #####  #   #####  #            #####  #                                                   ##### ##                                                                                            
     /####           /       ###      /  /###  /     ######  /  ######  /           ######  /                                                  ######  /###                                                                #                          
    /  ###          /         ##     /  /  ###/     /#   /  /  /#   /  /           /#   /  /                                                  /#   /  /  ###                                                              ###                         
       /##          ##        #     /  ##   ##     /    /  /  /    /  /           /    /  /                                                  /    /  /    ###                                                              #                          
      /  ##          ###           /  ###              /  /       /  /                /  /                                                       /  /      ##                                                                                         
      /  ##         ## ###        ##   ##             ## ##      ## ##               ## ## ### /### /###     /###     /###      /##             ## ##      ## ###  /###     /###     /###      /##       /###     /###   ###   ###  /###     /###     
     /    ##         ### ###      ##   ##             ## ##      ## ##               ## ##  ##/ ###/ /##  / / ###  / /  ###  / / ###            ## ##      ##  ###/ #### / / ###  / / ###  /  / ###     / #### / / #### / ###   ###/ #### / /  ###  / 
     /    ##           ### ###    ##   ##           /### ##    /### ##             /### ##   ##  ###/ ###/ /   ###/ /    ###/ /   ###         /### ##      /    ##   ###/ /   ###/ /   ###/  /   ###   ##  ###/ ##  ###/   ##    ##   ###/ /    ###/  
    /      ##            ### /##  ##   ##          / ### ##   / ### ##            / ### ##   ##   ##   ## ##    ## ##     ## ##    ###       / ### ##     /     ##       ##    ## ##        ##    ### ####     ####        ##    ##    ## ##     ##   
    /########              #/ /## ##   ##             ## ##      ## ##               ## ##   ##   ##   ## ##    ## ##     ## ########           ## ######/      ##       ##    ## ##        ########    ###      ###       ##    ##    ## ##     ##   
   /        ##              #/ ##  ##  ##        ##   ## ## ##   ## ##          ##   ## ##   ##   ##   ## ##    ## ##     ## #######            ## ######       ##       ##    ## ##        #######       ###      ###     ##    ##    ## ##     ##   
   #        ##               # /    ## #      / ###   #  / ###   #  /          ###   #  /    ##   ##   ## ##    ## ##     ## ##                 ## ##           ##       ##    ## ##        ##              ###      ###   ##    ##    ## ##     ##   
  /####      ##    /##        /      ###     /   ###    /   ###    /            ###    /     ##   ##   ## ##    /# ##     ## ####    /          ## ##           ##       ##    ## ###     / ####    /  /###  ## /###  ##   ##    ##    ## ##     ##   
 /   ####    ## / /  ########/        ######/     #####/     #####/              #####/      ###  ###  ### ####/ ## ########  ######/           ## ##           ###       ######   ######/   ######/  / #### / / #### /    ### / ###   ### ########   
/     ##      #/ /     #####            ###         ###        ###                 ###        ###  ###  ### ###   ##  ### ###  #####       ##   ## ##            ###       ####     #####     #####      ###/     ###/      ##/   ###   ###  ### ###  
#                |                                                                                                         ###            ###   #  /                                                                                              ### 
 ##               \)                                                                                                 ####   ###            ###    /                                                                                         ####   ###
                                                                                                                   /######  /#              #####/                                                                                        /######  /# 
                                                                                                                  /     ###/                  ###                                                                                        /     ###/   
    </pre
        >
        <div id="split-ascii-header">
            <pre id="ascii-header-part1">
       ##             #######          # ###           #####  #   #####  #
    /####           /       ###      /  /###  /     ######  /  ######  /  
   /  ###          /         ##     /  /  ###/     /#   /  /  /#   /  /   
      /##          ##        #     /  ##   ##     /    /  /  /    /  /    
     /  ##          ###           /  ###              /  /       /  /     
     /  ##         ## ###        ##   ##             ## ##      ## ##     
    /    ##         ### ###      ##   ##             ## ##      ## ##     
    /    ##           ### ###    ##   ##           /### ##    /### ##     
   /      ##            ### /##  ##   ##          / ### ##   / ### ##     
   /########              #/ /## ##   ##             ## ##      ## ##     
  /        ##              #/ ##  ##  ##        ##   ## ## ##   ## ##     
  #        ##               # /    ## #      / ###   #  / ###   #  /      
 /####      ##    /##        /      ###     /   ###    /   ###    /       
/   ####    ## / /  ########/        ######/     #####/     #####/        
/     ##      #/ /     #####            ###         ###        ###         
#                |                                                         
 ##               \\)                                                       
      </pre
            >
            <pre id="ascii-header-part2">
       #####  #                                                   ##### ##                                                                                            
    ######  /                                                  ######  /###                                                                #                          
   /#   /  /                                                  /#   /  /  ###                                                              ###                         
  /    /  /                                                  /    /  /    ###                                                              #                          
      /  /                                                       /  /      ##                                                                                         
     ## ## ### /### /###     /###     /###      /##             ## ##      ## ###  /###     /###     /###      /##       /###     /###   ###   ###  /###     /###     
     ## ##  ##/ ###/ /##  / / ###  / /  ###  / / ###            ## ##      ##  ###/ #### / / ###  / / ###  /  / ###     / #### / / #### / ###   ###/ #### / /  ###  / 
   /### ##   ##  ###/ ###/ /   ###/ /    ###/ /   ###         /### ##      /    ##   ###/ /   ###/ /   ###/  /   ###   ##  ###/ ##  ###/   ##    ##   ###/ /    ###/  
  / ### ##   ##   ##   ## ##    ## ##     ## ##    ###       / ### ##     /     ##       ##    ## ##        ##    ### ####     ####        ##    ##    ## ##     ##   
     ## ##   ##   ##   ## ##    ## ##     ## ########           ## ######/      ##       ##    ## ##        ########    ###      ###       ##    ##    ## ##     ##   
##   ## ##   ##   ##   ## ##    ## ##     ## #######            ## ######       ##       ##    ## ##        #######       ###      ###     ##    ##    ## ##     ##   
###   #  /    ##   ##   ## ##    ## ##     ## ##                 ## ##           ##       ##    ## ##        ##              ###      ###   ##    ##    ## ##     ##   
###    /     ##   ##   ## ##    /# ##     ## ####    /          ## ##           ##       ##    ## ###     / ####    /  /###  ## /###  ##   ##    ##    ## ##     ##   
 #####/      ###  ###  ### ####/ ## ########  ######/           ## ##           ###       ######   ######/   ######/  / #### / / #### /    ### / ###   ### ########   
   ###        ###  ###  ### ###   ##  ### ###  #####       ##   ## ##            ###       ####     #####     #####      ###/     ###/      ##/   ###   ###  ### ###  
                                           ###            ###   #  /                                                                                              ### 
                                     ####   ###            ###    /                                                                                         ####   ###
                                   /######  /#              #####/                                                                                        /######  /# 
                                  /     ###/                  ###                                                                                        /     ###/   
      </pre
            >
        </div>
        <pre id="ascii">{% include 'ascii_home.txt' %}</pre>

        <div class="status-indicator">
            <div class="spinner">
                <span id="spinner-char">—</span>
            </div>
            <span class="spinner-prompt-text">Press / for ?</span>
        </div>

        <script src="{{ url_for('static', filename='js/spinner.js') }}"></script>
        <script src="{{ url_for('static', filename='js/command-listener.js') }}"></script>
        <script src="{{ url_for('static', filename='js/theme-toggle.js') }}"></script>
        <script src="{{ url_for('static', filename='js/side-nav-toggle.js') }}"></script>
    </body>
</html>
